/* General */
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
    font-family: sans-serif, arial, helvetica;
    margin: 0px;
}

html, body{
    height: 100%;
    width: 100%;    
}

body{
    color: rgb(197, 180, 180);
    background-color: black;    
}

.container{
    margin-top: 20px !important;
}

main{
    width: 100%;
}

.pointer{
    cursor: pointer;
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: transparent !important;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 10px;
    width: 100%; 

    background-color: black !important;
    text-align: center;
    width: 100%;

    box-shadow: 2px -4px 5px -0px  #E50914;
    -webkit-box-shadow: 2px -4px 5px 0px  #E50914;
    -moz-box-shadow: 2px -4px 5px 0px  #E50914;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/bebas_neue/BebasNeue-Regular.woff');
}

.link{
    text-decoration: none;
}


/* LoginScreen */

.content-login {
    width: 450px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 600px;

    border-radius: 5px;

    margin: 0;
    position: absolute;

    box-shadow: 0px 0px 40px 5px rgba(229,9,20,0.55);
    -webkit-box-shadow: 0px 0px 40px 5px rgba(229,9,20,0.55);
    -moz-box-shadow: 0px 0px 40px 5px rgba(229,9,20,0.55);
}

.alert-freeflix{
    width: 300px;
    margin: auto;
    font-size: 15px;
}

.input-login{
    margin-top: 10%;
}

.input-email,
.input-password{
    width: 300px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
}

.btn-login{
    margin-top: 30px;
    width: 300px !important;
    height: 50px !important;
    background: #E50914;
    color: white;    

    transition: color 2.s ease;
}

.btn-login:hover{
    color: wheat;
}

.btn:disabled{
    cursor: not-allowed !important;
}

.btn-login:disabled{
    cursor: not-allowed !important;
}

.label-login{
    margin-top: 50px;
    font-weight: 700;
    color: white;
}

.navbar-logo h3 {
    margin: 10px;
    font-family: BebasNeue-Regular;
    color: #E50914 !important;
    font-size: 50px;

    text-decoration: none;
}

.navbar-logo:hover{
    cursor: pointer;
}

.link-register-account{
    margin-top: 40px;
}

.link-register-account span a{
    text-decoration: none;
    color: white;
    font-size: bold;
}

/* Navbar */
.navbar {
    height: 5em;
    background-color: transparent white !important;
}

.btn-logout-navbar{
    width: auto;
    /* height: 40px !important; */
    background: #E50914;
    border-radius: 5px;
    color: white;    
    transition: color 2.s ease;
}

.btn-freeflix{
    width: auto;
    background: #E50914;
    border-radius: 5px;
    color: white;    
    transition: color 2.s ease;
}

.btn-freeflix:hover{
    color: wheat;
    font-style: italic;
}

.btn-logout-navbar:hover{
    color: wheat;
    font-style: italic;
}

.background-custom-primary{
    background-color: rgb(48, 46, 51) !important;
}

.btn-custom-primary{
    border-radius: 2px;
    background-color: rgb(92, 92, 90);
    color: white;

    transition: all .2s ease;
} 

.btn-custom-primary:hover{
    border-radius: 5px;
    background-color: white;
    color: rgb(92, 92, 90);
    font-style: italic;
}

.focus-none{
    transition: all .2s ease;
}

.focus-none:focus{
    border: 0px;
}

/* HomeScreen */
.box{
    display: flex;
    flex: auto;
}

.movies-container {
    display: flex;  
    flex-wrap: row;
    flex-flow: wrap row;  
    justify-content: flex-start;   
    
    padding: 0px;
    margin: 0px;    
}

.movie-grid {
    width: 400px;
    height: 300px;
    margin-left: 30px !important;
    margin-bottom: 25px;
    color: white;
    font-size: 3em;
}

.movie-grid h2{
    font-family: BebasNeue-Regular !important;  
}

.movie-title{
    width: 80%;
    margin: auto;
}

.movie-title h1{
    font-family: BebasNeue-Regular !important;  
}

.movie-synopsis{
    width: 80%;
    margin: auto;
    text-align: justify;
    color: white;
}

.movie-year-gender span{
    font-size: 30px;
    font-family: BebasNeue-Regular !important;    
}

.react-player{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    height: auto;
    width: 80%;
    
}

.img-movie{
    width: 100%;
    height: 250px;
    transition: all .2s ease;
    cursor: pointer;
}

.box-categories{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.badge:hover{
    cursor: pointer;
}

/* Admin */

.admin-button,
.upload-button{
    background: #E50914;
    color: white;    
    margin-top: 10px;
    margin-right: 20px;
    height: 50px !important;
    width: auto;
    
    transition: color 2.s ease;
}

.admin-button:hover{
    color: wheat;
}

/* Upload */

.section-content{
    width: 650px;
    height: 570px;

    border-radius: 5px;

    margin-right: 15px !important;
    margin: 0;
    position: absolute;

    box-shadow: 0px 0px 40px 5px rgba(229,9,20,0.55);
    -webkit-box-shadow: 0px 0px 40px 5px rgba(229,9,20,0.55);
    -moz-box-shadow: 0px 0px 40px 5px rgba(229,9,20,0.55);
}

.upload-input{
    margin-top: 40px;
}

.upload-input-title,
.upload-input-year,
.upload-input-sinopsis,
.upload-select-gender{
    width: 50%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.upload-select-gender{
    text-align-last:center;
}

.upload-input-sinopsis{
    height: 150px !important;
    resize: none !important;
}

.upload-image > input,
.upload-video > input
{
    display: none;
}

.upload-image img,
.upload-video img
{
    width: 80px;
    cursor: pointer;
}

.upload-image-icon,
.upload-video-icon{
    color: #E50914;
    cursor: pointer;
}

.upload-button{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Loading */
.loading{
    display: flex;
    align-items: center;
}

.spinner{
    margin: auto !important;
}

/* Category */
.bg-freeflix{
    background: #E50914;

    transition: color .3s ease;
}

.bg-freeflix:hover{
    color: wheat;
}