/* General */

::-webkit-input-placeholder {
    text-align: center;
}

 :-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

 :-ms-input-placeholder {
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    font-family: sans-serif, arial, helvetica;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    color: rgb(197, 180, 180);
}

.container {
    margin-top: 20px !important;
}

main {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.red-freeflix {
    color: #E50914;
}

.footer {
    background-color: transparent !important;
    bottom: 0;
    height: 40px;
    left: 0;
    line-height: 10px;
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
    text-align: center;
    width: 100%;
    /* border-top: 1px solid red; */
    box-shadow: 2px -4px 5px -0px #E50914;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/bebas_neue/BebasNeue-Regular.woff');
}

.link {
    text-decoration: none;
}

.btn-wide-freeflix {
    /* margin-top: 30px; */
    width: 300px !important;
    height: 50px !important;
    background: #E50914;
    color: white;
    margin-bottom: 20px;
    transition: all 2.s ease;
}

.btn-wide-freeflix:hover {
    color: white;
    font-weight: 600;
}


/* LoginScreen */

.login-content,
.register-content {
    width: 450px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
    /* min-height: 650px; */
    border-radius: 5px;
    margin: 0;
    position: absolute;
    box-shadow: 0px 0px 40px 5px rgba(229, 9, 20, 0.55);
    -webkit-box-shadow: 0px 0px 40px 5px rgba(229, 9, 20, 0.55);
    -moz-box-shadow: 0px 0px 40px 5px rgba(229, 9, 20, 0.55);
}

.login-label,
.register-label {
    margin-top: 30px;
    font-weight: 700;
    color: white;
}

.login-input,
.register-input {
    margin-top: 10%;
}

.login-input-email,
.login-input-password,
.register-input-user,
.register-input-email,
.register-input-password {
    width: 300px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}

.codes-input-code {
    background: rgb(189, 189, 189) !important;
    color: black;
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.btn:disabled {
    cursor: not-allowed !important;
}

.btn-login:disabled {
    cursor: not-allowed !important;
}

.navbar-logo h3 {
    margin: 10px;
    margin-left: 30px !important;
    font-family: BebasNeue-Regular;
    color: #E50914 !important;
    font-size: 50px;
    text-decoration: none;
}

.navbar-logo:hover {
    cursor: pointer;
}

.navbar-menu-option {
    margin-top: 2em;
    margin-right: 1em;
    cursor: pointer;
}

.link-register-account {
    margin-top: 30px;
    margin-bottom: 30px;
}

.link-register-account span a {
    text-decoration: none;
    color: white;
    font-size: bold;
}

.alert-freeflix {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 15px;
}


/* Navbar */

.navbar {
    height: 5em;
    background-color: transparent white !important;
}

.btn-logout-navbar {
    width: auto;
    background: #E50914;
    border-radius: 5px;
    color: white;
    transition: color 2.s ease;
}

.btn-freeflix {
    width: auto;
    background: #E50914;
    border-radius: 5px;
    color: white;
    transition: color 2.s ease;
}

.btn-freeflix:hover {
    color: wheat;
    font-style: italic;
}

.btn-logout-navbar:hover {
    color: wheat;
    font-style: italic;
}

.background-custom-primary {
    background-color: rgb(48, 46, 51) !important;
}

.btn-custom-primary {
    border-radius: 2px;
    background-color: rgb(92, 92, 90);
    color: white;
    transition: all .2s ease;
}

.btn-custom-primary:hover {
    border-radius: 5px;
    background-color: white;
    color: rgb(92, 92, 90);
    font-style: italic;
}

.focus-none {
    transition: all .2s ease;
}

.focus-none:focus {
    border: 0px;
}


/* HomeScreen */

.home-container
.mylist-container {
    margin-top: 2em !important;
}

.box {
    display: flex;
    flex: auto;
}

.movies-container {
    display: flex;
    flex-wrap: row;
    flex-flow: wrap row;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    margin-top: 40px !important;
}

.movie-grid {
    width: 400px;
    height: 300px;
    margin-left: 30px !important;
    color: white;
    font-size: 3em;
}

.movie-grid h2 {
    font-family: BebasNeue-Regular !important;
}

.movie-title {
    width: 80%;
    margin: auto;
}

.movie-title h1 {
    font-family: BebasNeue-Regular !important;
}

.movie-synopsis {
    width: 80%;
    margin: auto;
    text-align: justify;
    color: white;
}

.movie-year-gender span {
    font-size: 30px;
    font-family: BebasNeue-Regular !important;
}

.react-player {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    height: auto;
    width: 80%;
}

.img-movie {
    width: 100%;
    height: 250px;
    transition: all .2s ease;
    cursor: pointer;
}

.box-categories {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.badge:hover {
    cursor: pointer;
}


/* Admin */

.admin-button,
.upload-button {
    background: #E50914;
    color: white;
    margin-top: 10px;
    margin-right: 20px;
    height: 50px !important;
    width: auto;
    transition: color 2.s ease;
}

.admin-button:hover {
    color: wheat;
}


/* Upload */

.section-content {
    width: 650px;
    height: auto;
    min-height: 570px;
    border-radius: 5px;
    margin-right: 15px !important;
    margin: 0;
    position: absolute;
    box-shadow: 0px 0px 40px 5px rgba(229, 9, 20, 0.55);
    -webkit-box-shadow: 0px 0px 40px 5px rgba(229, 9, 20, 0.55);
    -moz-box-shadow: 0px 0px 40px 5px rgba(229, 9, 20, 0.55);
}

.items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-input,
.profile-input {
    margin-top: 40px;
}

.upload-input-title,
.upload-input-year,
.upload-input-sinopsis,
.upload-select-gender,
.profile-input-username,
.profile-input-email {
    width: 50%;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}



.upload-select-gender {
    text-align-last: center;
}

.upload-input-sinopsis {
    height: 150px !important;
    resize: none !important;
}

.upload-image>input,
.upload-video>input {
    display: none;
}

.upload-image img,
.upload-video img {
    width: 80px;
    cursor: pointer;
}

.upload-image-icon,
.upload-video-icon {
    color: #E50914;
    cursor: pointer;
}

.upload-button {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Loading */

.loading,
.loading-big {
    margin: auto;
    display: flex !important;
    align-items: center !important;
}

.spinner-big {
    color: #E50914;
    margin: auto !important;
    margin-top: 10% !important;
}

.spinner-big {
    width: 200px;
    height: 200px;
}

.spinner {
    margin: auto !important;
}


/* Category */

.bg-freeflix {
    background: #E50914;
    transition: color .3s ease;
}

.bg-freeflix:hover {
    color: wheat;
}


/* Code List */

.codes-list {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* Input Search */

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 30px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    /* -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5); */
}

input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}


/* Button image movie */

.img-container {
    position: relative;
    margin-top: 10px;
    /* width: 500px;
    height: 300px; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.img-container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
}

img {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
}

.button {
    position: absolute;
    /* width: 500px; */
    right: 10px;
    top: 200px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.img-container:hover .button {
    opacity: 1;
}

.image-profile {
    position: relative; /* CENTRALIZA LA IMAGEN */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.image-profile-mini {
    position: relative; /* CENTRALIZA LA IMAGEN */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

